body {
    background-color: #7fbfe6;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 150px;
}

h1 {
    text-align: center;
    align-items: center;
    
}
.calculadora {
    background-color: #94cfea;
    border-radius: 10px;
    padding: 50px;
    width: 300px;
    margin: 0 auto;
}

#visor {
    width: 280px;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: #7ba8bb;
    color: #fff;
    text-align: right;
}


.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.numero, .operacao {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.numero {
    background-color: #fff8f8;
    color: black;
}

.operacao {
    background-color: #f1ff92;
    color: black;
}

.operacao.resultado {
    background-color: #f1ff92;
}

.operaçao {
    background-color: #ef9ea7;
}